layout{
    focus-ring{
        active-gradient from="#c1c6d6cc" to="#bec7dccc" angle=135
        urgent-color "#ffb4ab"

        }
}
recent-windows {    
    highlight {
        active-color "#39393a"
        urgent-color "#ffb4ab"
    }
}
