# 1. 忽略当前目录下（config/）的所有文件
*

# 2. 允许 .gitignore 自身
!.gitignore

# 3. 允许目录本身（必须先允许目录，Git 才能看到里面的内容）
!nvim/
!kitty/
!fish/
!tmux/
!niri/
!waypaper/
!waybar/

# 4. 允许这些目录下的所有子文件和子文件夹
!nvim/**
!kitty/**
!fish/**
!tmux/**
!niri/**
!waypaper/**
!waybar/**
