baloofileinformationrc
baloofilerc
bluedevilglobalrc
btop
cava
dconf
discord
discoverrc
drkonqirc
Electron
environment.d
evolution
fastfetch
go
google-chrome
gtk-3.0
gtk-4.0
gtkrc
gtkrc-2.0
gwenviewrc
hypr
kactivitymanagerd-statsrc
kactivitymanagerdrc
kate
kate-externaltoolspluginrc
katerc
katevirc
kcminputrc
kconf_updaterc
KDE
kded5rc
kded6rc
kdedefaults
kdeglobals
kglobalshortcutsrc
ksmserverrc
ktimezonedrc
kwalletrc
kwinoutputconfig.json
kwinrc
kwinrulesrc
kxkbrc
libaccounts-glib
lsfg-vk
mimeapps.list
mozc
mozilla
mozilla.bak.1770824027
mpv
pavucontrol.ini
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma-welcomerc
plasmanotifyrc
plasmaparc
plasmashellrc
PlasmaUserFeedback
powermanagementprofilesrc
procps
pulse
QQ
qt5ct
qt6ct
ripgrep-all
satty
scripts
session
Slack
spectaclerc
starship.toml
swaylock
swayosd
systemd
Thunar
trashrc
Trolltech.conf
user-dirs.dirs
user-dirs.locale
waybar-niri-Win11Like
wlogout
xdg-desktop-portal
xfce4
xsettingsd
yay
yazi
