output "eDP-1"{
	//分辨率和刷新率
	mode "2560x1600@120"
	//缩放倍率
	scale 2
	//位置，x=0 y=0代表最左上角
	position x=0 y=0
	//启动时聚焦此显示器
	focus-at-startup
	//取消下面这行的注释设置可变刷新率
	//variable-refresh-rate 
	//取消下面这行的注释可以设置旋转，参数有：90, 180, 270, flipped（水平翻转）, flipped-90（水平翻转后旋转）, flipped-180 and flipped-270
	//transform "90"

}
